@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

html, body {
    background-color: #fff;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

/* header */
.header {
    max-width: 100%;
    border-radius: 0 0 32px 32px;
    box-shadow: 0 0 15px 1px #000;
    background-color: #fff;
}

.nav {
    padding: 20px 25px;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    list-style: none;
}

.nav__item {
    font-size: 1.25rem;
}

.nav__link {
    text-decoration: none;
    color: #000;
    transition: color .3s ease-in-out;
}

.nav__link:hover {
    color: #0496ff;
    transition: color .3s ease-in-out;
}

.nav__link:active {
    color: #0077b6;
    transition: color .3s ease-in-out;
}

/* about */
.about {
    padding-top: 150px;
}

.about__heading {
    display: inline-block;
    max-width: max-content;
}

.heading {
    font-size: 2rem;
    font-weight: 400;
}

.about__us {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.about__description {
    padding: 15px;
    max-width: 550px;
    background-color: #000;
    opacity: .4;
    border-radius: 16px;
}

.descr-text {
    color: #fff;
    font-size: 1.25rem;
    line-height: 2rem;
}

.about__image {
    max-width: 550px;
}

.about-image {
    max-width: 100%;
    border-radius: 16px;
}

.about__citate {
    margin-top: 75px;
    text-align: center;
}

.citate {
    position: relative;
    padding: 16px 24px;
    margin: 16px 46px;    
    font-size: 1.5rem;
    text-align: center;
}
.citate:before,
.citate:after {
    position: absolute;
    color: #90e0ef;
    font-size: 100px;
    font-family: Times, sans-serif;    
    line-height: 100px;    
}
.citate:before {
    content: '“';
    left: 350px;
    top: -10px;
}
.citate:after {
    content: '”';
    right: 350px;
    bottom: -20px;
}
.citate cite {
    color: #00b4d8;
    font-size: 1rem;
    padding-top: 10px;
    display: block;
}