@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

:root {
    --gray-color: #edf2fb;
    --black-color: #000;
    --yellow-color: #fcba04;
    --orange-color: #ff312e;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

html, body {
    font-size: 16px;
    background-color: var(--white-color);
    font-family: "Montserrat", sans-serif;
}

/* header */
.header {
    margin: 0 auto;
    border-radius: 0 0 32px 32px;
    box-shadow: 0 0 15px 1px var(--black-color);
}

.nav {
    padding: 25px 20px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.list__item {
    font-size: 1.25rem;
}

.nav__link {
    text-decoration: none;
    color: var(--black-color);
    transition: color 0.3s ease-in-out;
}

.nav__link:hover {
    transition: color 0.3s ease-in-out;
    color: var(--yellow-color);
}

.nav__link:active {
    transition: color 0.3s ease-in-out;
    color: var(--orange-color);
}